<%-include common%>
<div class="main-con">
	<form action="/dologin/adddf" method="post" enctype="multipart/form-data" style="margin-left: 20px;">
		<div class="form-group" >
		    <label style="margin-bottom: 20px;">上传文件</label>
		    <input type="file" class="tian"  name="file" multiple >
		</div>
		<button type="submit" class="btn sub-mit" style="margin: 20px 20px">提交</button>
	</form>

</div>
</body>
</html>