<%-include common%>

	<div class="main-con">
		<div class="con">
			<h2>您好，您当前的角色为普通用户</h2>
		</div>
		<div class="row">
			<div class="col-md-3 col-sm-6">
				<a href="#">
					<div class="conZong cor1">
						<div class="conZong-con">
							<h1>0</h1>
							<p>内容</p>
						</div>
					</div>
				</a>
			</div>
			<div class="col-md-3 col-sm-6">
				<a href="#">
					<div class="conZong cor2">
						<div class="conZong-con">
							<h1>0</h1>
							<p>分类</p>
						</div>
					</div>
				</a>
			</div>
			<div class="col-md-3 col-sm-6">
				<a href="#">
					<div class="conZong cor3">
						<div class="conZong-con">
							<h1>0</h1>
							<p>评论</p>
						</div>
					</div>
				</a>
			</div>
			<div class="col-md-3 col-sm-6">
				<a href="#">
					<div class="conZong cor4">
						<div class="conZong-con">
							<h1>0</h1>
							<p>用户</p>
						</div>
					</div>
				</a>
			</div>
			<div class="col-md-3 col-sm-6">
				<a href="#">
					<div class="conZong cor5">
						<div class="conZong-con">
							<h1>0</h1>
							<p>角色</p>
						</div>
					</div>
				</a>
			</div>
			<div class="col-md-3 col-sm-6">
				<a href="#">
					<div class="conZong cor6">
						<div class="conZong-con">
							<h1>0</h1>
							<p>文件</p>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>

</body>
</html>